<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tables | PrediStocks</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <!-- VENDOR CSS -->
    <link
      rel="stylesheet"
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/vendor/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="assets/vendor/linearicons/style.css" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <!-- GOOGLE FONTS -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700"
      rel="stylesheet"
    />
    <!-- ICONS -->
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="assets/img/apple-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="assets/img/favicon.png"
    />
    <link rel="stylesheet" href="assets/css/tables.css" />
    <style>
      body {
        cursor: url("assets/img/profile.jpg"), auto;
      }
    </style>
  </head>
  <body class="main-page">
    <!-- WRAPPER -->
    <div id="wrapper">
      <!-- NAVBAR -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="brand">
          <a href="/">
            <h1>PrediStocks</h1>
          </a>
        </div>
        <div class="container-fluid">
          <div class="navbar-btn">
            <button type="button" class="btn-toggle-fullwidth">
              <i class="lnr lnr-arrow-left-circle"></i>
            </button>
          </div>

          <div id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  ><i class="lnr lnr-question-circle"></i> <span>Help</span>
                  <i class="icon-submenu lnr lnr-chevron-down"></i
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Basic Use</a></li>
                  <li><a href="#">Working With Data</a></li>
                  <li><a href="#">Security</a></li>
                  <li><a href="#">Troubleshooting</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  ><img
                    src="assets/img/user.png"
                    class="img-circle"
                    id="userImg"
                    alt="Avatar" />
                  <span id="userEmail"></span>
                  <i class="icon-submenu lnr lnr-chevron-down"></i
                ></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#"
                      ><i class="lnr lnr-user"></i> <span>My Profile</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="lnr lnr-envelope"></i> <span>Message</span></a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="lnr lnr-cog"></i> <span>Settings</span></a
                    >
                  </li>
                  <li id="loginLink">
                    <a href="/loginForm"
                      ><i class="lnr lnr-exit"></i> <span>Login</span></a
                    >
                  </li>
                  <li id="logoutLink" style="display: none">
                    <a href="/logout"
                      ><i class="lnr lnr-exit"></i> <span>Logout</span></a
                    >
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span id="currentDateTime"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- END NAVBAR -->
      <!-- LEFT SIDEBAR -->
      <div id="sidebar-nav" class="sidebar">
        <div class="sidebar-scroll">
          <nav>
            <ul class="nav">
              <li>
                <a href="/" class="">
                  <i class="lnr lnr-home"></i>
                  <span>Dashboard</span></a
                >
              </li>
              <li>
                <a href="table" class="active">
                  <i class="lnr lnr-dice"></i>
                  <span>Stock Table</span></a
                >
              </li>
              <li>
                <a href="charts" class="">
                  <i class="lnr lnr-chart-bars"></i>
                  <span>Predict Chart</span></a
                >
              </li>
              <li>
                <a href="#subPages" data-toggle="collapse" class="collapsed">
                  <i class="lnr lnr-file-empty"></i> <span>Pages</span>
                  <i class="icon-submenu lnr lnr-chevron-right"></i
                ></a>
                <div id="subPages" class="collapse">
                  <ul class="nav">
                    <li><a href="profile" class="">Profile</a></li>
                    <li><a href="loginForm" class="">Login</a></li>
                    <li><a href="joinForm" class="">Sign up</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- END LEFT SIDEBAR -->
      <!-- MAIN -->
      <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
          <div class="container-fluid">
            <h3 class="page-title">Stock Table</h3>
            <div class="row">
              <div class="col-md-12">
                <!-- BASIC TABLE -->
                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Current Price</h3>
                    <div class="search">
                      <br />
                      <input
                        type="text"
                        id="stockNameSelect"
                        placeholder="기업명 검색"
                      />
                      <button id="searchButtonSelect">검색</button>
                    </div>
                  </div>
                  <div class="panel-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>기업명</th>
                          <th>현재가</th>
                          <th>전일</th>
                          <th>고가</th>
                          <th>저가</th>
                          <th>거래량</th>
                          <th>등락률</th>
                        </tr>
                      </thead>
                      <tbody id="stockTableBody">
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                    <div id="pagination"></div>
                  </div>
                </div>
                <!-- END BASIC TABLE -->
              </div>
            </div>
          </div>
        </div>
        <!-- END MAIN CONTENT -->
      </div>
      <!-- END MAIN -->
      <div class="clearfix"></div>
      <footer>
        <div class="container-fluid">
          <p class="copyright">
            Shared by <i class="fa fa-love"></i><a>PlayData</a>
          </p>
        </div>
      </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="assets/scripts/search.js"></script>
    <script src="assets/scripts/bar.js"></script>
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="assets/scripts/klorofil-common.js"></script>
    <script src="assets/scripts/time.js"></script>
  </body>
</html>
